@font-face {
    font-family: "Circular";
    src: url("./Circular\ Std\ Book.otf");
    src: local("Circular"), local("Circular"),
        url("./Circular\ Std\ Book.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
}

.container0 {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100vw;
    height: 50vh;
    color: black;
    /* background-color: blue; */

}

.container2 {
    width: 100vw;
    height: 50vh;
    /* background-color: blueviolet; */
}

.question {
    position: relative;
    top: 25%;
    left: 50%;
    transform: translatey(-50%);
    transform: translatex(-50%);
    margin-left: 20px;
    margin-right: 15px;
}

.anim {
    animation-name: fade;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.q {
    font-family: 'VT323',
        monospace;
    font-size: 35px;
    font-weight: 300;
    margin-right: 10px;
}

.options {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.o1 {
    width: 55vw;
    height: 7vh;
    border-radius: 30px;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    top: -50px;
    font-size: 18px;
    font-family: 'VT323',
        monospace;
    color: black;
    background-color: transparent;
    border: 3px #70db70 solid;
}

.o2 {
    width: 55vw;
    height: 7vh;
    border-radius: 30px;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    top: -30px;
    font-size: 18px;
    font-family: Circular;
    color: black;
    border: 3px #70db70 solid;
    background-color: transparent;
}

.o3 {
    width: 55vw;
    height: 7vh;
    border-radius: 30px;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    top: -10px;
    font-size: 18px;
    font-family: circular;
    color: black;
    border: 3px #70db70 solid;
    background-color: transparent;
}

.o4 {
    width: 55vw;
    height: 7vh;
    border-radius: 30px;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    top: 10px;
    font-size: 18px;
    font-family: circular;
    color: black;
    border: 3px #70db70 solid;
    background-color: transparent;
}

.o1:active {
    background-color: #70db70;
    color: white;
}

.o2:active {
    background-color: #70db70;
    color: white;
}

.o3:active {
    background-color: #70db70;
    color: white;
}

.o4:active {
    background-color: #70db70;
    color: white;
}

.res {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.r {
    font-family: sans-serif;
    font-size: 35px;
    font-weight: 300;
}

.opac {
    opacity: 0;
}